<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="signup.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    
  <title>Document</title>
</head>
<body>
  <p style="color: #FFFFF7;text-decoration: none;" id="exist">Already have an account?<a href="/pages/login.html" style="color: #1abc9c; text-decoration: none;">Login</a></p>
  <div class="login-image">
    <div class="login-illusconatiner">
      <h1 style="color:white">Hi,Welcome back</h1>
      <br>
      <br>
      <img id="loginillus" src="/images/undraw_secure_login_pdn4.svg" alt="">
    </div>
    <div>
    <div class="container">
    <div class="login-page">
      <h2 style="color: white;font-size: 34px;">Sign up to tiffin services</h2>
      <br>
      <h3 style="color:#FFFFF7;" id="s2">Enter your details below</h3>
      <br>
    </div>
   
    <form action="auth/singup" method="POST"> 
    <div class="form">
      <br>
      <input type="text" name="mobile" placeholder="" class="textbox">
      <label style="color: #fff;" class="form-label">
         Mobile no
      </label>
      
      <input type="text" name="Name" placeholder="" class="textbo">
      <label style="color: #fff;" class="form-labe">
        Name
      </label>
      <br><br><br>
      <input type="password" name="Password" placeholder="" class="textbox1">
      <label style="color: #fff;" class="form-label2">
        Password
      </label>
      <input type="password" name="Confirm Password" placeholder="" class="textbo1">
      <label style="color: #fff;" class="form-labe1">
       Confirm Password
      </label>
      <br><br><br>
      <input type="text" name=" Address" placeholder="" class="textbo2">
      <label style="color: #fff;" class="form-labe2">
        Address
      </label><br><br>
      <label style="color: #FFFFF7;" for="">Upload Menu</label> 
      </label>
      <input type="file" name="image" accept="image/*">
   
      
      
      
    </div>
    <br><br>
    
   
    <button type="button" id="log">Sign Up</button>
  </div>
  </form>
</body>
</html>
